<div class="container mt-5">
	<div class="row d-flex justify-content-center">

<h2 class="col-12 text-center">Products</h2>

<div *ngFor="let product of products; index as productId">
<div class="card m-1" style="width: 18rem;">
  <img class="card-img-top bild" src="{{product.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <a class="btn btn-primary" [routerLink]="['/products', productId]">Show Details</a>
  </div>
</div>
</div>
</div>
</div>
